ion-tab-bar{
    --background: #F9E3AE;
  
    --border-color: #2E3F53;
    --border-width: 4px 0;
    --border-style: double;
}

ion-tab-button{
    --background-focused: #2E3F53;
    --color-selected: #2E3F53;

}
