
ion-content{
    --background: #FFF6DE;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // height: 100vh;
    // width: 100vw;
}

.containerWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

ion-button{
    --background: #2E3F53;
}

.btn{
    background-color: #F9E3AE;
    text-align: center;
    color: #2E3F53;
}

// .button{
//     display: block;
//     margin: 0 auto 0 auto;
//     margin-top: 15px;
//     width: 84%;
// }

.button ion-button{
    --background: #2E3F53;
    --background-hover: #2E3F53;
    --background-activated: #2E3F53;
    --background-focused: #2E3F53;
    --color: white;
    --border-radius: 10px;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --ripple-color: deeppink;
    --padding-top: 10px;
}