<!DOCTYPE html>

<ion-content>

  <div class="button">
    <ion-button type="submit">Back</ion-button>
  </div>

  <div class="containerWrap">

    <ion-button expand="full" class="ion-text-center">
      <ion-icon slot="start" lazy="true" name="image"></ion-icon>
      <input type="file" (change)="uploadImagetoFirebase($event)" id="file-input" accept="image/png, image/jpg">
    </ion-button>

    <!-- *ngIf="!isLoading && !isLoaded" -->
    <ion-card >
      <ion-card-content *ngIf="percentage | async as percent">
        Progress: {{percent | number}}%
        <ion-progress-bar value="{{percent / 100}}"></ion-progress-bar>
        <button class="btn" (click)="goToNextPage()">Continue</button>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
