ion-tab-bar{
    --ion-color-base: transparent !important;
    --color-selected: #2E3F53 !important;

    ion-tab-button{
        --background: #F7CC8F;
        --color-selected: #2E3F53 !important;
    }

    position: absolute;
    bottom: 0px;
    width: 100%;
}

.middle-button-container{
    position: absolute;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    
}