<!-- <div class="middle-button-container">
  <p style="text-align:center;">
   <ion-fab style="margin-top: -75px; margin-left: -30px;">
   <ion-fab-button style="--background:#F7CC8F" size="medium">
    <ion-icon name="home" style="color:#2E3F53" size="medium"></ion-icon>
  </ion-fab-button>
   </ion-fab>
  </p>
</div> -->

<ion-tabs >

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="profile">
      <ion-icon src="assets/profilee.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon src="assets/homee.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon src="assets/settingg.svg"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>