ion-content{
    --background: none;
    background-image: url('/assets/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-logo{
    display: block;
    margin: 0 auto 0 auto;
    margin-top: 100%;
    width: 85%;
    height: auto;
}


