ion-content{
    --background: none;
    background-image: url('/assets/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-logo{
    display: block;
    margin: 0 auto 0 auto;
    margin-top: 60%;
    width: 85%;
    height: auto;
}

.login-btn{
    margin: 0 auto 0 auto;
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.login-btn ion-button{
    width: 70%;
    height: 40px;
    --background: #2E3F53;
    --background-hover: #2E3F53;
    --background-activated: #2E3F53;
    --background-focused: #2E3F53;
    --color: white;
    --border-radius: 10px;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --ripple-color: deeppink;
    --padding-top: 10px;
}

.reg-btn{
    margin: 0 auto 0 auto;
    margin-top: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.reg-btn ion-button{
    width: 70%;
    height: 40px;
    --background: #2E3F53;
    --background-hover: #2E3F53;
    --background-activated: #2E3F53;
    --background-focused: #2E3F53;
    --color: white;
    --border-radius: 10px;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --ripple-color: deeppink;
    --padding-top: 10px;
}

