<ion-content>

  <img class="image" src = "/assets/trangko.png"/>

  <div class="input">

    <ion-input placeholder="Username" class="name"></ion-input>

    <ion-input placeholder="Email" class="email"></ion-input>

    <ion-input placeholder="Password" class="password"></ion-input>
    
    <ion-input placeholder="Confirm Password" class="confpass"></ion-input>

  </div>

  <div class="button">
      <ion-button>Register</ion-button>
  </div>

  <div class="register">
      <ion-button fill="clear">Login</ion-button>
  </div>

</ion-content>
