<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="image" src = "/assets/trangko.png"/>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <div class="digitalClock">

    <div class="digitalTime">
      <div>{{hour}} : &nbsp;</div>
      <div>{{minute}} : &nbsp;</div>
      <div>{{second}} : &nbsp;</div>
      <div class="ampm">{{ampm}}</div>
    </div>
<!-- 
    <div class="dayTitle">
      {{day}}
    </div> -->

  </div>

  <img class="bike" src = "/assets/bike.gif"/>

  <div class="welcome">
    Welcome
  </div>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>{{profileName}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
</ion-content>
