ion-content{
    --background: #FFF6DE;
}
.image{
    display: inline-block;
    width: 130px;
    height: auto;
    padding-inline-start: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ion-toolbar {
    --background: #F9E3AE;
  
    --border-color: #2E3F53;
    --border-width: 4px 0;
    --border-style: double;

  } 